.container {
    border: 20px solid #1D9533;
    /* Black border with 2px thickness */
    background-color: #EDEBED;
    /* Light background color */
    padding: 20px;
    /* Optional: Adds some space between the border and the content */
    margin: 0 auto;
    /* Centers the container on the page */
}

body {
    font-family: "Roboto", sans-serif;
    /* Choose a font for the page */
    background-color: #0B50A1;
    /* Light background color */
    margin: 0;
    padding: 20px;
    /* Adds 20px space around the body, creating distance from the edge of the screen */
    box-sizing: border-box;
    /* Makes sure the padding doesn't affect width calculations */
}

h1, h2, p {
    font-weight: 400;
}