.container {
    border: 20px solid #1D9533;
    /* Black border with 2px thickness */
    background-color: #EDEBED;
    /* Light background color */
    padding: 20px;
    /* Optional: Adds some space between the border and the content */
    margin: 0 auto;
    /* Centers the container on the page */
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #0B50A1;
    margin: 0;
    padding: 0;
    /* Adds space around the body, creating distance from the edge of the screen */
    box-sizing: border-box;
    /* Makes sure the padding doesn't affect width calculations */
}

h1, h2, p {
    font-weight: 400;
}

/* Style navigation bar */
.topnav {
    background-color: #EDEBED;
    overflow: hidden;
    border-bottom: 4px solid #0B50A1;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #0B50A1;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
    font-size: 17px;
}